---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80

---
Language: Cpp
SortIncludes: true
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: All
AlignArrayOfStructures: Left
InsertTrailingCommas: Wrapped
AllowShortFunctionsOnASingleLine: None
